@model DungMoHinh.Models.MauNhanVat

@{
    ViewData["Title"] = "Chi tiết mẫu";
}

<h1>@Model.Name</h1>

<dl class="row">
    <dt class="col-sm-3">Loại</dt>
    <dd class="col-sm-9">@Model.Kind</dd>
    <dt class="col-sm-3">Phong cách</dt>
    <dd class="col-sm-9">@Model.Style</dd>
    <dt class="col-sm-3">Đường dẫn model</dt>
    <dd class="col-sm-9">@Model.ModelUrl</dd>
</dl>
