@model DungMoHinh.Models.MauNhanVat

@{
    ViewData["Title"] = "Chi tiet mau";
}

<h1>@Model.Name</h1>

<dl class="row">
    <dt class="col-sm-3">Loai</dt>
    <dd class="col-sm-9">@Model.Kind</dd>
    <dt class="col-sm-3">Phong cach</dt>
    <dd class="col-sm-9">@Model.Style</dd>
    <dt class="col-sm-3">Duong dan model</dt>
    <dd class="col-sm-9">@Model.ModelUrl</dd>
</dl>
